@import "~normalize.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: gray;
  color: #fff;
}

.navigation {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  &__link {
    color: black;
    display: inline-block;
    margin-right: 20px;
    font-size: 40px;
    font-weight: bold;
  }
}

.student {
  display: flex;
  justify-content: center;
  &__all {
    list-style: decimal;
  }
  &__header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
  }
  &__showAll {
    width: 1000px;
    background: rgb(121, 121, 121);
    margin-top: 50px;
  }
}

.project__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px;
  margin: 0 0 8px 0;
  column-gap: 8px;
  &-headers {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
  }
  &-hover:hover {
    color: yellow;
  }
}
