@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");

@import "modules/students.scss";
@import "modules/books.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(250, 247, 247);
  color: #fff;
  font-family: Nunito;
}

.navigation {
  background-color: white;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  &__link {
    color: black;
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }
}

.table {
  max-width: 80%;
  &__header {
    color: black;
    text-align: center;
  }
}

.library {
  margin-bottom: 50px;
  &__conteiner {
    display: flex;
    justify-content: center;
  }
}
